<table>
  <tbody>
    <tr>
      <td class="tableheader">Team</td>
      <td class="tableheader">Contact</td>
      <td class="tableheader">Phone</td>
    </tr>
    <% @teams.each do |team| %>
    <tr>
      <td class="listview"><%= link_to "#{team.team_name}", team_path(team) %></td>
      <td class="listview"><%= team.contact_name %></td>
      <td class="listview"><%= team.contact_phone %></td>
    </tr>
    <% end %>
  </tbody>
</table><br><br>
<% if admin %>
  <%= link_to "New Team", new_team_path %>
<% end %>
