<table class="tableview">
  <tbody>
    <tr>
      <td class="tableheader">Date</td>
      <td class="tableheader">Time</td>
      <td class="tableheader">Home Team</td>
      <td class="tableheader">Away Team</td>
      <td class="tableheader">Appointment</td>
    </tr>
    <%= render 'tr_for_games' %>
  </tbody>
</table><br><br>
<%= render 'admin_links_for_index' %>
