// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.login {
  float: left;
  width: 408px;
  padding: 0pc;
  margin: 12px;
  border: 2px ridge;
  background-color: #EBEBEB;
}

div.login-form-header {
  padding: 4px;
  width: 400px;
  border-bottom: 2px ridge;
  background-color: #ABADB1
}

div.login-form {
  padding: 12px;
}

div.login-form-header p {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 8px;
}

div.login p {
  clear: both;
  text-align: left;
}

div.login-form p {
  margin-bottom: 0px;
  margin-top: 8px;
}

div.login hr {
  text-align: left;
  width: 380px;
}
